<%= render "scripts/modal_header", id_class: "scripts_show-edit-pawn-Modal", text: "駒編集フォーム" %>
  <%= form_with model: @pawn_1, class: "container", local: true do |p| %>
    <div class = "modal-body">
      <%= p.hidden_field :id, class: "pawn_dayo" %>
      <%= render "layouts/form_collection_select", f: p, model_attr: :za_id, model_name: "座id", array: @zas, class_name: "za_dayo" %>
      <%= render "layouts/form_collection_select", f: p, model_attr: :position_id, model_name: "役職id", array: @positions, class_name: "position_dayo" %>
    </div>
    <div class = "modal-footer">
      <%= render "layouts/form_submit", f: p, text: "更新", delete: "pawns/button_delete" %>
    </div>
  <% end %>
<%= render "scripts/modal_footer" %>
