<%= render "scripts/modal_header", id_class: "scripts_show-add-pawn-Modal", text: "駒追加フォーム" %>
  <%= form_with model: [@script, @pawn], class: "container", local: true do |p| %>
    <div class = "modal-body">
      <%= p.hidden_field :id, class: "pawn_dayo" %>
      <%= render "layouts/form_collection_select", f: p, model_attr: :za_id, model_name: "座id", array: @zas, class_name: "za_dayo" %>
      <%= render "layouts/form_collection_select", f: p, model_attr: :position_id, model_name: "役職id", array: @positions, class_name: "position_dayo" %>
    </div>
    <div class = "modal-footer">
      <%= render "layouts/form_submit", f: p, text: "追加" %>
      <!--<div class = "form-group row">-->
        <!--<button type = "button" class = "btn btn-secondary px-4 m-2" data-dismiss = "modal">閉じる</button>-->
        <%#= p.submit "追加", class: "btn btn-success px-4 m-2" %>
      <!--</div>-->
    </div>
  <% end %>
<%= render "scripts/modal_footer" %>
