<%= render "scripts/modal_header", id_class: "scripts_show-add-pawn-Modal", text: "駒追加フォーム" %>
  <%= form_with model: [@script, @pawn], class: "container", local: true do |p| %>
    <div class = "modal-body">
      <%= p.hidden_field :id, class: "pawn_dayo" %>
      <div class = "form-group row">
        <%= p.label :za_id, "座ID", class: "h4 col-2" %>
        <%= p.collection_select :za_id, @zas, :id, :name, { }, { class: "za_dayo" } %>
      </div>
      <div class = "form-group row">
        <%= p.label :position_id, "役職ID", class: "h4 col-2" %>
        <%= p.collection_select :position_id, @positions, :id, :name, { }, { class: "position_dayo" } %>
      </div>
    </div>
    <div class = "modal-footer">
      <div class = "form-group row">
        <button type = "button" class = "btn btn-secondary px-4 m-2" data-dismiss = "modal">閉じる</button>
        <%= p.submit "追加", class: "btn btn-success px-4 m-2" %>
      </div>
    </div>
  <% end %>
<%= render "scripts/modal_footer" %>
