<h1>Scripts#index</h1>
<p>Find me in app/views/scripts/index.html.erb</p>

<h1>脚本追加フォーム</h1>
<%= form_with model: @script, url: scripts_path, method: :post, class: "container", local: true do |s| %>
  <div class = "form-group row">
    <%= s.label :name, "名称", class: "h4 col-2" %>
    <%= s.text_field :name %>
  </div>
  <div class = "form-group row">
    <%= s.label :noof_days, "日数", class: "h4 col-2" %>
    <%= s.text_field :noof_days %>
  </div>
  <div class = "form-group row">
    <%= s.label :noof_weeks, "週数", class: "h4 col-2" %>
    <%= s.text_field :noof_weeks %>
  </div>
  <div class = "form-group row">
    <div class = "col-2"></div>
    <%= s.submit '追加', class: "col-2 btn btn-success" %>
  </div>
<% end %>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">
    <% @scripts.each do |s| %>
      <%= link_to script_path(s.id), class: "col-6 border" do %>
        <%= s.name %>
        </br>
        <%= s.noof_days %>日 / <%= s.noof_weeks %>週
      <% end %>
    <% end %>
  </div>
</div>