<h1>Scripts#index</h1>
<p>Find me in app/views/scripts/index.html.erb</p>

<h1>脚本追加フォーム</h1>
<%= render "scripts/form", script: @script, packages: @packages, text: "追加" %>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">
    <% @scripts.each do |s| %>
      <%= link_to script_path(s.id), class: "col-6 border" do %>
        <%= s.name %>
        </br>
        <%= s.noof_days %>日 / <%= s.noof_weeks %>週
      <% end %>
    <% end %>
  </div>
</div>