<h1>Scripts#show</h1>
<p>Find me in app/views/scripts/show.html.erb</p>

<div>
  <h1 class = "text-center"><%= @script.name %></h1>
  <p class = "h3 text-center">
    <%= @script.package.name %>&emsp;
    <%= @script.noof_weeks %>週&thinsp;/&thinsp;<%= @script.noof_days %>日

  </p>
</div>
<div class = "row px-3">
  <button type="button" class="btn btn-primary col m-2 py-1" data-toggle="modal" data-target="#scripts_show-edit-script-Modal">基本情報を編集</button>
  <button type="button" class="btn btn-primary col m-2 new_pawn-class" data-toggle="modal" data-target="#scripts_show-add-pawn-Modal">駒を追加</button>
  <button type="button" class="btn btn-primary col m-2 new_incident-class" data-toggle="modal" data-target="#scripts_show-add-incident-Modal">事件を追加</button>
  <%= link_to "削除", @script, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger col m-2" %>
  <%= link_to "戻る", scripts_path, class: "btn btn-secondary col m-2" %>
</div>

<hr>

<!--駒一覧-->
<div class = "container-fluid px-5">
  <p class = "h4 text-center">駒一覧</p>
  <div class = "row">
    <% @pawns.each do |p| %>
      <div class = "col-6 col-sm-4 col-md-3 col-lg-2 border">
        <%= p.za.name %>
        </br>
        <%= p.position.name %>
        </br>
        <%= attachment_image_tag p.za, :image, :fill, 128, 128 %>
        </br>
        <button type="button" class="btn btn-primary col m-2 edit_pawn-class"
          data-toggle="modal" data-target="#scripts_show-edit-pawn-Modal" data-pawn=<%= p.id %>
        >駒を編集</button>
      </div>
    <% end %>
  </div>
</div>

<hr>

<!--日程表。事件モデルや駒モデルと連携する-->
<div class = "container-fluid px-5">
  <p class = "h4 text-center">事件予定</p>
  <div class = "row">
    <% p "----　ここからshowにおけるIncident多重ネストが始まる　----" %>
    <% for i in 1..@script.noof_days do %>
      <div class = "col-6 col-sm-4 col-md-3 col-lg-2 border">
        <p>day<%= i %></p>
        <% if @array[i] %>
          <%= @array[i].crime.name %>
          </br>
          <%= @array[i].pawn.za.name %>
          </br>
          <%= attachment_image_tag @array[i].pawn.za, :image, :fill, 128, 128 %>
          </br>
          <button type="button" class="btn btn-primary col m-2 edit_incident-class"
            data-toggle="modal" data-target="#scripts_show-edit-incident-Modal" data-incident=<%= @array[i].id %>
          >事件を編集</button>
        <% end %>
      </div>
    <% end %>
    <% p "----　エンドぉ〜　----" %>
  </div>
</div>

<div class = "my-3"></div>

<!--脚本基本情報編集用のモーダル-->
<%= render "scripts/modal_header", id_class: "scripts_show-edit-script-Modal", text: "脚本基本情報編集フォーム" %>
  <%= render "scripts/form", script: @script, packages: @packages, text: "更新" %>
<%= render "scripts/modal_footer" %>

<!--駒追加モーダル-->
<%= render "pawns/new_modal" %>

<!--駒編集モーダル-->
<%= render "pawns/edit_modal" %>

<!--事件追加モーダル-->
<%= render "incidents/new_modal" %>

<!--事件編集モーダル-->
<%= render "incidents/edit_modal" %>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--参照：https://www.inet-solutions.jp/technology/jquery-ajax-bootstrap/-->
<!--slim版だと'Uncaught TypeError: $.ajax is not a function'エラーが起こるようなので全量版に修正-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--3.3.1の全量版が見つかったので全量版に変更-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
