<h1>Scripts#show</h1>
<p>Find me in app/views/scripts/show.html.erb</p>

<div>
  <h1 class = "text-center"><%= @script.name %></h1>
  <p class = "h3 text-center">
    <%= @script.package.name %>&emsp;
    <%= @script.noof_weeks %>週&thinsp;/&thinsp;<%= @script.noof_days %>日
  </p>
</div>
<div class = "row mb-1">
  <button type="button" class="btn btn-primary col mx-2" data-toggle="modal" data-target="#scripts_show-edit-script-Modal">基本情報を編集</button>
  <button type="button" class="btn btn-primary col mx-2" data-toggle="modal" data-target="#scripts_show-add-pawn-Modal">駒を追加</button>
  <%= link_to "削除", @script, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger col mx-2" %>
</div>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">
    <% for i in 1..@script.noof_days do %>
      <div class = "col border">
        <p>day<%= i %></p>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">
    <% @pawns.each do |p| %>
      <div class = "col-2 border">
        <%= p.za.name %>
        </br>
        <%= attachment_image_tag p.za, :image, :fill, 128, 128 %>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">

  </div>
</div>

<!--以下はモーダル部分、これは駒の追加-->
<%= render "scripts/modal_header", id_class: "scripts_show-add-pawn-Modal", text: "駒追加フォーム" %>
  <%= form_with model: [@script, @pawn], url: script_pawns_path(@script), method: :post, class: "container", local: true do |p| %>
    <div class = "modal-body">
      <div class = "form-group row">
        <%= p.label :za_id, "座ID", class: "h4 col-2" %>
        <%= p.collection_select :za_id, @zas, :id, :name %>
      </div>
    </div>
    <div class = "modal-footer">
      <div class = "form-group row">
        <button type = "button" class = "btn btn-secondary px-5 mr-3" data-dismiss = "modal">閉じる</button>
        <%= p.submit "追加", class: "btn btn-success px-5" %>
      </div>
    </div>
  <% end %>
<% render "scripts/modal_footer" %>

<!--脚本基本情報編集用のモーダル-->
<%= render "scripts/modal_header", id_class: "scripts_show-edit-script-Modal", text: "脚本基本情報編集フォーム" %>
  <%= render "scripts/form", script: @script, packages: @packages, text: "更新" %>
<%= render "scripts/modal_footer" %>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
