<h1>Scripts#show</h1>
<p>Find me in app/views/scripts/show.html.erb</p>

<div>
  <h1 class = "text-center"><%= @script.name %></h1>
  <%= form_with model: @script, class: "container-fluid px-5", local: true do |s| %>
    <div class = "row border py-1">
    <!--<div class = "form-group form-group-lg row border py-1">-->
      <%= s.label :name, "脚本名", class: "col-2 control-label h3" %>
      <%= s.text_field :name, class: "col-10 form-control input-lg" %>
    </div>
    <div class = "row border">
    <!--<div class = "form-group form-group-large row border py-1">-->
      <div class = "col border py-1">
        <span class = "h3">期間&emsp;</span>
        <%= s.select :noof_weeks, @weeks, {}, { id: "id", class: "btn btn-secondary dropdown-toggle" } %>
        <span class = "h3">&ensp;/&ensp;</span>
        <%= s.select :noof_days, @days, {}, { id: "id", class: "btn btn-secondary dropdown-toggle" } %>
      </div>
      <div class = "col border py-1">
        <%= s.submit "更新", class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
  <p class = "h3 text-center"><%= @script.noof_weeks %>週 / <%= @script.noof_days %>日</p>
</div>
<button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#scripts_show-add-pawn-Modal">駒追加フォーム</button>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">
    <% @pawns.each do |p| %>
      <div class = "col-2 border">
        <%= p.za.name %>
        </br>
        <%= attachment_image_tag p.za, :image, :fill, 128, 128 %>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class = "container-fluid px-5">
  <div class = "row">

  </div>
</div>

<!--以下はモーダル部分、これは駒の追加-->
<div class="modal fade" id="scripts_show-add-pawn-Modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">駒追加フォーム</h4>
      </div>
      <%= form_with model: [@script, @pawn], url: script_pawns_path(@script), method: :post, class: "container", local: true do |p| %>
        <div class = "modal-body">
          <div class = "form-group row">
            <%= p.label :za_id, "座ID", class: "h4 col-2" %>
            <%= p.collection_select :za_id, @zas, :id, :name %>
          </div>
        </div>
        <div class = "modal-footer">
          <div class = "form-group row">
            <button type = "button" class = "btn btn-secondary px-5 mr-3" data-dismiss = "modal">閉じる</button>
            <%= p.submit "追加", class: "btn btn-success px-5" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--脚本基本情報編集用のモーダル-->
<div class = "modal fade" id = "scripts_show-edit-script-Modal" tabindex = "-1" role = "dialog" aria-labelledby = "basicModal" aria-hidden = "true">
  <div class = "modal-dialog">
    <div class = "modal-content">
      <div class = "modal-header">
        <h4 class = "modal-title">脚本基本情報編集フォーム</h4>
      </div>
      <%= form_with modal: @script, class: "container", local: true do |s| %>
        <div class = "modal-body">
          
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
