<%= render "scripts/modal_header", id_class: "scripts_show-edit-incident-Modal", text: "事件編集フォーム" %>
  <%= form_with model: @incident_1, class: "container", local: true do |i| %>
    <div class = "modal-body">
      <%= i.hidden_field :id, class: "incident_dayo" %>
      <div class = "form-group row">
        <%= i.label :day, "日付", class: "h4 col-2" %>
        <%= i.select :day, @days, {}, { class: "btn btn-primary dropdown-toggle day_dayo" } %>
      </div>
      <%= render "layouts/form_collection_select", f: i, model_attr: :crime_id, model_name: "犯罪id", array: @crimes, class_name: "crime_dayo" %>
      <%= render "layouts/form_collection_select", f: i, model_attr: :pawn_id, model_name: "犯人", array: @pawns, class_name: "pawn_dayo" %>
    </div>
    <div class = "modal-footer">
      <%= render "layouts/form_submit", f: i, text: "更新", delete: "incidents/button_delete" %>
    </div>
  <% end %>
<%= render "scripts/modal_footer" %>
