<h1>Boards#show</h1>
<p>Find me in app/views/boards/show.html.erb</p>

<div class = "row px-3">
  <button type="button" class="btn btn-primary col m-2 new_card-class" data-toggle="modal" data-target="#boards_show-add-card-Modal">カードを追加</button>
  <%#= link_to "カードを追加", boards_path, class: "btn btn-primary col m-2" %>
  <%= link_to "盤面一覧へ", boards_path, class: "btn btn-secondary col m-2" %>
</div>

<hr>

実際の盤面を駒含めて描画
<div class = "<%= ApplicationController::DEFAULT_CONTAINER %>">
  <div class = "row">
    <%= render "boards/area", color_class: "bg-orange-200", area_name: "病院", cards: @hospital %>
    <%= render "boards/area", color_class: "bg-indigo-200", area_name: "神社", cards: @shrine %>
    <%= render "boards/area", color_class: "bg-gray-200", area_name: "都市", cards: @city %>
    <%= render "boards/area", color_class: "bg-cyan-200", area_name: "学校", cards: @school %>
  </div>
</div>

カード追加モーダル
<%= render "cards/new_modal" %>
