<h1>Zas#index</h1>
<p>Find me in app/views/zas/index.html.erb</p>

<h1>座追加フォーム</h1>
<%= form_with model: @za, url: zas_path, method: :post, class: "container", local: true do |z| %>
  <div class = "form-group row">
    <%= z.label :name, "名称", class: "h4 col-2" %>
    <%= z.text_field :name %>
  </div>
  <div class = "form-group row">
    <%= z.label :paranoia_limit, "不安臨界", class: "h4 col-2" %>
    <%= z.text_field :paranoia_limit %>
  </div>
  <div class = "form-group row">
    <%= z.label :image, "画像", class: "h4 col-2" %>
    <%= z.attachment_field :image %>
  </div>
  <div class = "form-group row">
    <%= z.label :category1, "分類１", class: "h4 col-2" %>
    <%= z.collection_select :category1, Category.all, :id, :name, include_blank: "選択して下さい" %>
  </div>
  <div class = "form-group row">
    <%= z.label :category2, "分類２", class: "h4 col-2" %>
    <%= z.collection_select :category2, Category.all, :id, :name, include_blank: "選択して下さい" %>
  </div>
  <div class = "form-group row">
    <div class = "col-2"></div>
    <%= z.submit '追加', class: "col-2 btn btn-success" %>
  </div>
<% end %>

<hr>

<div class = "container">
  <% @zas.each do |z| %>
    <div class = "row border">
      <div class = "col w-25">
        <%= z.name %>(<%= z.id %>)
        </br>
        不安臨界<%= z.paranoia_limit %>
        <% z.categories.each do |zc| %>
          </br>
          <%= zc.name %>(<%= zc.id %>)
        <% end %>
      </div>
      <div class = "col w-25">
        <%= attachment_image_tag z, :image %>
      </div>
    </div>
  <% end %>
</div>