<h1>Zas#index</h1>
<p>Find me in app/views/zas/index.html.erb</p>

<h1>座追加フォーム</h1>
<%= form_with model: @za, url: zas_path, method: :post, local: true do |z| %>
  <h4>名称</h4>
  <%= z.text_field :name %>
  <h4>不安臨界</h4>
  <%= z.text_field :paranoia_limit %>
  <h4>画像</h4>
  <%= z.attachment_field :image %>
  <%= z.submit '追加' %>
<% end %>

<hr>

<div class = "container">
  <% @zas.each do |z| %>
    <div class = "row border">
      <div class = "col w-25">
        <%= z.name %>
        </br>
        不安臨界<%= z.paranoia_limit %>
      </div>
      <div class = "col w-25">
        <%= attachment_image_tag z, :image %>
      </div>
    </div>
  <% end %>
</div>