<h1>Rules#index</h1>
<p>Find me in app/views/rules/index.html.erb</p>

<h1><%= @package.name %>のルール一覧</h1>

<div class = "container-fluid px-5">
  <div class = "row border h4">ルールY</div>
  <div class = "row">
    <% @y_rules.each do |r| %>
      <div class = "col-2 border">
        <div class = "col">
          <%= r.name %>(<%= r.id %>)
          </br>
          <% r.positions.each do |rp| %>
            </br>
            <%= rp.name %>(<%= rp.id %>)
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class = "container-fluid px-5">
  <div class = "row border h4">ルールX</div>
  <div class = "row">
    <% @x_rules.each do |r| %>
      <div class = "col-2 border">
        <div class = "col">
          <%= r.name %>(<%= r.id %>)
          </br>
          <% r.positions.each do |rp| %>
            </br>
            <%= rp.name %>(<%= rp.id %>)
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>